<div id="static_topnav">
  <div class="breadcrumbs"><a href="#!main">SHOWHAUS</a> > Admin</div>
</div>
<div id="logo_container">
  <div class="logo" onclick="window.location = '#!main';"></div>
  <div class="learnmore">
    admin panel
  </div>
</div>
<article class="rest">
  <div id="static_wrap">
	<h1><strong> Click Event to Post</strong></h1>
  </div>
	<div id="filter_contain" style="margin: 0 auto;">
		<div id="filter">
			<div class="filter_city">
				<select data-placeholder="SELECT CITY"
						id="filter_city" name="city" ng-model="citySelect"">
					<option>Baltimore</option>
					<option>Brooklyn</option>
					<option>DC</option>
				</select>
			</div>
			<div class="search">
				<input type="text" ng-model="search" width="100px" />
				<input type="submit" ng-click="executeSearch()"/>
			</div>
			<div class="filter_free">
				<input type="checkbox" ng-model="ticketbox" ng-true-value="true" ng-false-value=""> Ticket shows
				only
			</div>
		</div>
	</div>
	<div class="listview_contain" style="margin: 0 auto;">
		<!-- table -->
		<table class="gridtable" ng-if="events.length">
			<tr>
				<th class="datetime">image</th>
				<th class="datetime">date/time</th>
				<th class="title">title of show</th>
				<th class="tableprice">$$$</th>
				<th class="tablevenue">venue</th>
			</tr>
			<tbody class="theEvents">
			<tbody ng-repeat="event in events">
			<tr ng-class="event.featured=='today' ? 'list_today':''" ng-click="">
				<td class="list_align">
					<img class="admin_image" ng-if="event.image" src="{{event.image}}"/>
				</td>
				<td class="list_align">
					<strong>{{event.start_time.split('T')[0]}}</strong>
					<br/>
					<div class="list_subtext">{{event.start_time.split('T')[1].split('-')[0]}}</div>
				</td>
				<td>
            <span class="titles">
              <strong>{{event.name}}</strong>
				<br/>
              <span class="subtitle admin-description" ng-if="event.description">{{event.description}}</span>
            </span>
					<div class="list_category">{{event.tag1}}</div>
					<div class="list_category" ng-if="event.tag2">{{event.tag2}}</div>
				</td>
				<td class="list_align">
					<span ng-if="event.description.split('$')[1]">${{parseInt(event.description.split('$')[1])}}</span>
					<span ng-if="!event.description.split('$')[1]">???</span>
				</td>
				<td class="list_align">
					<strong>{{event.location}}</strong>
					<br/>
					<div class="list_subtext" ng-if="event.venue">{{event.street}}</div>
				</td>
			</tr>
			</tbody>
			</tbody>
		</table>
	</div>
</article>