<div class="breadcrumb">
	<div class="tagline">
		<span class="tagline-logo"></span>
		<span class="tagline-text"><a href="#!">showhaus</a></span>
	</div>
	<div class="breadcrumb-nav home">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		<a href="#!feeds">feeds</a>
		<a href="#!post"><strong>post a show</strong></a>
	</div>
</div>

<form ng-model="form" class="content page" novalidate ng-submit="postEvent(postshow.$valid, event)" name="postshow">
		<h2>Edit SHOW</h2>

		<!-- rules and guidelines -->
		<div class="note">
			<p><strong>Fill out the form below to add a show</strong>

				<br> Once added, it should appear within the next few minutes.

			<p><em>Hot tip:</em> Venues and artists can  automatically add events to Showhaus via Facebook using the <a href="#!/feeds">feeds section</a>.</p>
		</div>
		<!--░░░░░░░░░░░░ show details ░░░░░░░░░░░░-->
		<div class="postshow-heading">SHOW DETAILS</div>
		<div class="postshow-wrap">

			<!-- enter city -->
			<div class="postshow-city">

				<div class="filter-contain">
					<select class="selectize-input items not-full disabled locked demo-default venue-select" name="city" ng-model="event.city" required ng-change="event.venue = ''" value="">
						<option value="" disabled>-- select a city --</option>
						<option value="Baltimore">Baltimore</option>
						<option value="New York">NYC</option>
						<!--<option>DC</option>-->
					</select>
				</div>
				<div class="postshow-helptext">
					The city where your show is happening.
				</div>
			</div>

			<!-- enter show title -->
			<div class="postshow-title">
				<input placeholder="title of show" type="text" class="full" ng-model="event.title"></input>
				<div class="postshow-helptext">
					List the performers starting with the headliner.
				</div>
			</div>
			<!-- select venue -->
			<div class="postshow-venue">
				<div class="filter-contain">
					<select placeholder="SELECT VENUE" id="select-beast" class="demo-default venue-select" name="venue" ng-model="event.venue" required
							data-placeholder="SELECT VENUE"  ng-disabled="event.city==''">
						<optgroup label="Can't find your venue?" ng-if="citySelect!=''">
							<option name="newvenue" value="newvenue">Add a venue</option>
						</optgroup>
						<option value="" disabled selected>-- select a venue --</option>
						<option ng-repeat="place in venues | filter:citySelect |orderBy: 'venue'" >{{place["venue"]}}</option>
					</select>
				</div>

				<div class="postshow-helptext">
					If you can't find your venue, select <strong>Add Venue</strong>
					<!--<br> If you don't want to give out an address, select <strong>Unlisted</strong>-->
				</div>

				<div class="addvenue" ng-show="event.venue=='newvenue'">
					<h4> ADD VENUE </h4>
					<input placeholder="venue name" type="text" class="third" maxlength="25" name="newvenue" ng-model="newvenuename" ng-required="event.venue==newvenue"></input><p>

					<input placeholder="address (optional)" type="text" class="third" name="venue_address" maxlength="75" ng-model="newvenueaddress"></input>
				</div>

			</div>

			<!-- enter date & price -->
			<div class="postshow-dateprice">
				<input class="date" type="text" name="date" placeholder="date" readonly required type="text" ng-model="event.date" class="date"></input>
				<input class="time" type="text" name="time" placeholder="time" readonly type="text" ng-model="event.time"></input>
				<input placeholder="price" name="price" ng-model="event.price" numbers-only="numbers-only" type="text" class="mini price"></input>
				<div class="postshow-helptext">
					For free shows, enter <strong>$0</strong> as the price.
				</div>

			</div>
		</div>


		<div class="postshow-heading">EVENT DESCRIPTION</div>
		<div class="postshow-wrap">
			<!-- description -->
			<div class="postshow-description">
				<div class="postshow-helptext">
					The description below will appear on your post.
				</div>
				<textarea ng-model="event.description" name="description" type="text" style=" width: 300px; min-height:100px;"></textarea>
			</div>
		</div>

		<div class="postshow-heading">CONFIRM & PUBLISH</div>
		<div class="postshow-wrap">
			<!-- submit -->
			<div class="postshow-delete">
				<button class="delete_button" type="button" ng-click="deleteModal()">DELETE SHOW</button>
			</div>
			<div class="postshow-submit">
				<button class="postshow_button" type="submit">UPDATE SHOW</button>
			</div>
		</div>
	</form>

</span>

<div id="dialog" title="Are you sure?" ng-show="dialog">
	<p>Think about this decision for a second...<br/>
		<strong><a style="color:red;">You're about to delete your entire listing</a></strong><br/>
		Is that something you really want to do? It's permanent, you know!</p>
</div>
<showhaus-footer></showhaus-footer>