<div class="breadcrumb">
	<div class="tagline">
		<span class="tagline-logo"></span>
		<span class="tagline-text"><a href="#!">showhaus</a></span>
	</div>
	<div class="breadcrumb-nav home">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		<a href="#!feeds">add a feed</a>
		<a href="#!post"><strong>post a show</strong></a>
	</div>
</div>
<div class="content page">

	<!--░░░░░░░░░░░░ begin content  ░░░░░░░░░░░░-->
	<h2>FEEDS</h2>
	<div class="contain">
		<p> Do you run a venue? Do you book shows? Do those things exist on Facebook?
		<p> Well if they do, you can add their URL's to the list below. Every time you post a new show it gets published on the site. Wow!

		<!-- contribute feed -->
		<div class="postshow-heading">Add a Feed</div>
		<div class="postshow-wrap feeds">
            <span class="postshow-helptext error" ng-show="feedError">Invalid feed url! This page may have already been added. Please check below</span>
			<span class="postshow-helptext error" ng-show="checkUrl">Please check your url! Only the main page can be accepted.</span>
			<input placeholder="eg. https://www.facebook.com/silentbarn" ng-model="search" type="text" class="full url"/>
			<div class="postshow-helptext">
				<strong>Enter the URL of a Facebook page.</strong>
				<br>Showhaus will scrape any events associated with that page.
				<br><button ng-click="executeSearch();" class="light"> Submit Feed </button>
			</div>
		</div>
	</div>
	<p>
	<div class="contain">
		<input type="text" ng-model="searchFeeds" placeholder="&#x1F50D; search feeds" class="full"/>
		<table style="margin: 30px 0 0 0; width:100%">
			<tr>
				<th>Title of Feed</th>
				<th class="feeds-dateadded">Date Added</th>
			</tr>
			<tr dir-paginate="feed in filtered = (feeds.slice().reverse() | filter:searchFeeds | itemsPerPage: 50) track by $index">
				<td><a href="{{feed[2]}}" target="_blank">{{feed[0]}}</a></td>
				<td>{{feed[1]}}</td>
			</tr>
		</table>
		<div class="pagination-container">
			<dir-pagination-controls
					max-size="7"
					direction-links="true"
					boundary-links="true" >
			</dir-pagination-controls>
		</div>
	</div>
</div>
<showhaus-footer></showhaus-footer>
