<div class="breadcrumb">
	<div class="tagline">
		<span class="tagline-logo"></span>
		<span class="tagline-text"><a href="#!">showhaus</a></span>
	</div>
	<div class="breadcrumb-nav home">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		<a href="#!feeds">add a feed</a>
		<a href="#!post"><strong>post a show</strong></a>
	</div>
</div>

<!--<div id="logo_container">
  <div class="logo" onclick="window.location = '#!main';"></div>
  <div class="learnmore">
    admin panel
  </div>
</div>-->
<!--<article class="rest">
  <div id="static_wrap">
	<h1><strong>feeds</strong></h1>
  </div>

	<div id="filter_contain" style="margin: 0 auto;">
		<div id="filter">
			<div class="search">
				<input type="text" placeholder="facebook link" ng-model="search" width="100px" />
				<input type="submit" ng-click="executeSearch()"/>
			</div>
		</div>
	</div>
	<div class="listview_contain" style="margin: 0 auto;">


		&lt;!&ndash; table &ndash;&gt;
		<table class="gridtable" ng-if="events.length">
			<tr>
				<th class="datetime">image</th>
				<th class="datetime">date/time</th>
				<th class="title">title of show</th>
				<th class="tableprice">$$$</th>
				<th class="tablevenue">venue</th>
			</tr>
			<tbody class="theEvents">
			<tbody ng-repeat="event in events">
			<tr ng-class="event.featured=='today' ? 'list_today':''" ng-click="">
				<td class="list_align" ng-if="event.image">
					<img class="admin_image" ng-src="event.image"/>
				</td>
				<td class="list_align">
					<strong>{{event.start_time.split('T')[0]}}</strong>
					<br/>
					<div class="list_subtext">{{event.start_time.split('T')[1].split('-')[0]}}</div>
				</td>
				<td>
            <span class="titles">
              <strong>{{event.name}}</strong>
				<br/>
              <span class="subtitle admin-description" ng-if="event.description">{{event.description}}</span>
            </span>
					<div class="list_category">{{event.tag1}}</div>
					<div class="list_category" ng-if="event.tag2">{{event.tag2}}</div>
				</td>
				<td class="list_align">
					<span ng-if="event.description.split('$')[1]">${{parseInt(event.description.split('$')[1])}}</span>
					<span ng-if="!event.description.split('$')[1]">???</span>
				</td>
				<td class="list_align">
					<strong>{{event.location}}</strong>
					<br/>
					<div class="list_subtext" ng-if="event.venue">{{event.street}}</div>
				</td>
			</tr>
			</tbody>
			</tbody>
		</table>
	</div>
</article>-->

<div class="content page">

	<!--░░░░░░░░░░░░ begin content  ░░░░░░░░░░░░-->
	<h2>FEEDS</h2>
	<div class="contain">
		<p> Do you run a venue? Do you book shows? Do those things exist on Facebook?
		<p> Well if they do, you can add their URL's to the list below. Every time you post a new show it gets published on the site. Wow!

		<!-- contribute feed -->
		<div class="postshow-heading">Add a Feed</div>
		<div class="postshow-wrap feeds">
            <span class="postshow-helptext error" ng-show="feedError">Invalid feed url! This page may have already been added. Please check below</span>
			<span class="postshow-helptext error" ng-show="checkUrl">Please check your url! Only the main page can be accepted.</span>
			<input placeholder="eg. https://www.facebook.com/silentbarn" ng-model="search" type="text" class="full url"></input>
			<div class="postshow-helptext">
				<strong>Enter the URL of a Facebook page.</strong>
				<br>Showhaus will scrape any events associated with that page.
				<br><button ng-click="executeSearch();" class="light"> Submit Feed </button>
			</div>
		</div>
	</div>
	<p>
	<div class="contain">
		<table style="margin: 30px 0 0 0; width:100%">
			<tr>
				<th>Title of Feed</th>
				<th class="feeds-dateadded">Date Added</th>
			</tr>
			<tr ng-repeat="feed in feeds.slice().reverse()">
				<td><a href="{{feed[2]}}" target="_blank">{{feed[0]}}</a></td>
				<td>{{feed[1]}}</td>
			</tr>
		</table>

	</div>
</div>
<footer>
	<div class="footer-contain">
		<div class="container subscribe">
			<h3>📫 Get Showhaus Weekly </h3>
			Sign up to our newsletter to recieve weekly showlistings.
			<br><br>
			<input placeholder="Coming Soon!" ng-required="true" type="text" ng-model="title" disabled></input>
			<!-- <a href="#"><div class="button">Subscribe</div></a> -->
		</div>

		<div class="container about">
			<h3> About Showhaus </h3>
			Showhaus is a resource for daily concert listings in the New York City area. We are a small team of dedicated volunteers aiming to make local music accessible to all.
			<br><br> <a href="#!about">Learn More</a>
		</div>

		<div class="container get-in-touch">
			<h3> Get in Touch </h3>
			<a href="#!post">Submit Your Show</a>
			<br><a href="#!about">Contact Us</a>
			<br><a href="#!feeds">Add a Facebook Feed</a>
		</div>

			<br><span class="pid" ng-click="checkPid($event)" ng-mouseover="showPid = true" ng-mouseleave="showPid = false" style="color:grey; font-size: smaller; padding:35px 0 0 0; clear: both; text-align:center; display: inline-block;"> &pi; <span ng-if="showPid">{{performance}} {{ip_address}}</span></span>
	</div>
</footer>
