<!--░░░░░░░░░░░░ hero ░░░░░░░░░░░░-->
<div class="hero-contain">
	<!-- title -->
	<div class="showhaus"></div>

	<!-- main nav -->
	<div class="nav">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		:: <a href="#!feeds">feeds</a>
		:: <a href="#!post" class="postshow">post a show</a>
	</div>

	<!-- filter -->
	<div class="filter">
		<div class="filter-contain city-filter">
			<select id="select-beast" class="filter-drop"  ng-model="citySelect" ng-change="setNewCookie();resetVenues()">
				<option value="Baltimore">Baltimore</option>
				<option value="NYC">NYC</option>
			</select>
		</div>

		<div class="filter-contain venue-filter">
			<select id="select-beast venueSelect" class="filter-drop" placeholder="-- select venue --" ng-model="venueSelect" name="venue">
				<option value="">-- all venues --</option>
				<option ng-repeat="venue in events | filter:citySelect | unique:'venue' | orderBy: 'venue'">{{venue.venue}}</option>
			</select>
		</div>
		<div class="checkbox">
			<input type="checkbox" name="free" value="free" ng-model="freebox">
			<label>Free Shows Only</label>
		</div>
	</div>
</div>

<!--
<div style="display: block; margin: 80px 0 20px 0; text-align: center; color: lightgray;">
	<h3>UPCOMING NYC SHOWS</h3>
	<i>* please double check listings for accuracy</i>
</div>
-->

<!--░░░░░░░░░░░░ loading ░░░░░░░░░░░░-->
<div class="content">
	<!-- intro note -->
	<div class="note">
		<p> Displaying all <strong ng-if="freebox">free</strong> upcoming shows in <strong>{{venueSelect}}{{venueSelect.length>1 ? ',' : ''}} {{citySelect.length>1 ? citySelect : 'all cities'}}</strong>
		<br><em>Please double check show details!</em> Many of the shows <a href="#!feeds">are scraped</a> and times/bands/venues may have changed.</p>
	</div>

	<div ng-show="loading" style="text-align:center; margin: 0 20px 20px 20px">
		<div class="loading">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<!--░░░░░░░░░░░░ begin show list ░░░░░░░░░░░░-->
	<!-- intro -->

	<!-- show -->
	<div ng-if="!loading" class="show-contain" ng-class="event.date==today ? 'today' : ''" ng-hide="event.price!=0&&freebox" dir-paginate="event in filtered = (events | filter: {city:citySelect} | filter:{venue:venueSelect}) | orderBy: orderByDate | itemsPerPage: 150" ng-hide="loading">
		<li class="show-detail-contain">

			<!-- date / time -->
			<div class="show-date">

				<div class="day" ng-if="event.date!=today && event.date!=tomorrow">
					<span ng-if="nextWeek(event.date) != 'true'">{{nextWeek(event.date)}}</span>
					<span ng-if="nextWeek(event.date) == 'true'">{{event.date}}</span>
					<span ng-if="nextWeek(event.date) != 'true'">{{getDay(event.date)}}</span>
				</div>

				<div class="day" ng-if="event.date==today">Today</div>
				<div class="day" ng-if="event.date==tomorrow">Tomorrow</div>
				<!-- <div class="date" ng-class="(event.date==today || event.date==tomorrow) ? day : date" >
					<span ng-if="nextWeek(event.date) == 'true'">{{getDay(event.date)}}</span>
					<span ng-if="nextWeek(event.date) != 'true'">{{event.date}}</span>
				</div> -->
				<div class="time">{{event.time}}</div>
			</div>

			<!-- venue -->
			<div class="show-venue">
				<div class="venue">{{event.venue}}</div>
				<div class="address"><a rel="nofollow" ng-click="popupMap($event, event.address, event.city);" target="_blank">{{event.address}}</a></div>
			</div>

			<!-- title -->
			<div class="show-title">
				<div class="title" ng-if="!event.fb_event" ng-click="expand($event)"><a href="#">{{event.title}}</a></div>
				<div class="title" ng-click="extshow(event.fb_event)" ng-if="event.fb_event"><a href="#">{{event.title}}</a><i style="vertical-align: middle; margin: 0 0 0 8px; color: #C3C3C3;" class="fa fa-external-link" alt="outbound_event" ng-if="event.fb_event" ng-click="extshow(event.fb_event)"></i>
					<span class="show-price" ng-if="event.price>0">${{event.price}}</span>
					<span class="show-price" ng-if="event.price==0 || (event.price==-1&&!event.ticket_uri)">
						<span style="display:none">{{event.price=0}}</span>free
					</span>
				</div>

				<!-- tickets, if applicable -->
				<a href="{{event.ticket_uri}}" target="_blank">
					<div class="show-tickets" ng-if="event.ticket_uri">get tickets</div>
				</a>

			</div>

		</li>

		<!-- show page -->
		<div class="expand-contain" ng-hide="event.fb_event">
			<div class="show-img">
				<img src="{{event.poster}}">
			</div>

			<!-- description -->
			<div class="show-description" ng-bind-html="event.description"></div>
			<br/>
			<div class="expand-close" ng-click="collapse($event)">
				<a href="#">&#9650; CLOSE &#9650;</a>
			</div>
		</div>
	</div>

	<!-- end show -->
	<div class="pagination-container">
		<dir-pagination-controls
				max-size="10"
				direction-links="true"
				boundary-links="true" >
		</dir-pagination-controls>
	</div>

</div>
