<div class="breadcrumb">
	<span style="float:left;">🌻&nbsp;&nbsp;</span>
	<span style="float:left;font-style:italic; opacity: .5;"> open, local concert listings</span>
	<div class="breadcrumb-nav home">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		<a href="#!feeds">add a feed</a>
		<a href="#!post"><strong>post a show</strong></a>
	</div>
</div>
<!--░░░░░░░░░░░░ hero ░░░░░░░░░░░░-->
<div class="hero-contain">
	<!-- title -->
	<div class="logo"><img src="../assets/header.png" style="width:100%; max-width: 400px;"></div>

	<!-- filter -->
	<div class="filter">

	<!--
		<div class="filter-contain city-filter">
			<select id="select-beast" class="filter-drop"  ng-model="citySelect" ng-change="setNewCookie();resetVenues()">
				<option value="Baltimore">Baltimore</option>
				<option value="NYC">NYC</option>
			</select>
		</div>
	-->
		<div class="filter-contain venue-filter">
			<select id="select-beast venueSelect" class="filter-drop" placeholder="-- select venue --" ng-model="venueSelect" name="venue">
				<option value="">-- all venues --</option>
				<option ng-repeat="venue in events | filter:citySelect | unique:'venue' | orderBy: 'venue'">{{venue.venue}}</option>
			</select>
		</div>

		<div class="filter-contain staff-filter">
			<input id="staff-pick" type="checkbox" name="staff" ng-click="staffPicks = !staffPicks">
			<label for="staff-pick"><span class="staff-pick">Staff Picks</span></label>
		</div>

		<div class="checkbox">
			<input id="free" type="checkbox" name="free" value="free" ng-click="freeBox = !freeBox">
			<label for="free" >Free Shows Only</label>
		</div>
	</div>
</div>

<span class="ask"></span>

<!--
<div style="display: block; margin: 80px 0 20px 0; text-align: center; color: lightgray;">
	<h3>UPCOMING NYC SHOWS</h3>
	<i>* please double check listings for accuracy</i>
</div>
-->

<!--░░░░░░░░░░░░ loading ░░░░░░░░░░░░-->
<div ng-show="loading" style="text-align:center; margin: 30px 20px -10px 20px">
	<div class="loading">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>

<div class="content">
	<!-- heading -->
	<div class="heading">
		Displaying <span style="color:red;">{{(events|filter:{city:citySelect}|filter:{venue:venueSelect}|isFeatured:{featured:staffPicks}| isFree:{price:freeBox}).length}}</span> upcoming shows in <strong>New York City</strong>
		<br><span style="font-size: 12px;">Please double check show details! We do our best, but sometimes times/bands change.</span>
	</div>

	<!--░░░░░░░░░░░░ begin show list ░░░░░░░░░░░░-->

	<!-- show -->
	<div ng-if="!loading" class="show-contain" ng-class="event.date==today ? 'today' : ''" dir-paginate="event in filtered = (events | filter: {city:citySelect} | filter:{venue:venueSelect} | isFeatured:{featured:staffPicks} | isFree:{price:freeBox}) | orderBy: orderByDate | itemsPerPage: 150 track by $index">
		<div class="show-detail-contain">

			<!-- date / time -->
			<div class="show-date">

				<div class="day" ng-if="event.date!=today && event.date!=tomorrow">
					<span ng-if="nextWeek(event.date) != 'true'">{{nextWeek(event.date)}}</span>
					<span ng-if="nextWeek(event.date) == 'true'">{{event.date}}</span>
					<span ng-if="nextWeek(event.date) != 'true'">{{getDay(event.date)}}</span>
				</div>

				<div class="day" ng-if="event.date==today">Today</div>
				<div class="day" ng-if="event.date==tomorrow">Tomorrow</div>
				<!-- <div class="date" ng-class="(event.date==today || event.date==tomorrow) ? day : date" >
					<span ng-if="nextWeek(event.date) == 'true'">{{getDay(event.date)}}</span>
					<span ng-if="nextWeek(event.date) != 'true'">{{event.date}}</span>
				</div> -->
				<div class="time">{{event.time}}</div>
			</div>

			<!-- venue -->
			<div class="show-venue">
				<div class="venue">{{event.venue}}</div>
				<div class="address"><a rel="nofollow" ng-click="popupMap($event, event.address, event.city);" target="_blank">{{event.address}}</a></div>
			</div>

			<!-- title -->
			<div class="show-title">
				<span class="title" ng-if="!event.fb_event" ng-click="expand($event); sendToGoogle(event.city, event.title, event.venue)"><a href="#">{{event.title}}</a></span>
				<span class="title" ng-if="event.fb_event"><a ng-click="extshow(event.fb_event); sendToGoogle(event.city, event.title, event.venue)" href="#">{{event.title}}</a>
					<i style="vertical-align: middle; margin: 0 0 0 8px; color: #C3C3C3;" class="fa fa-external-link" alt="outbound_event" ng-if="event.fb_event" ng-click="extshow(event.fb_event)"></i>
				</span>
				<span class="title">
					<span class="show-price" ng-if="event.price>0">${{event.price}}</span>
					<span class="show-price" ng-if="event.price==0 || (event.price==-1&&!event.ticket_uri)">
						<span style="display:none">{{event.price=0}}</span>free
					</span>
					<span ng-if="event.featured!==''" class="staff-pick">staff pick</span>

					<div class="staff-notes" ng-if="event.featured!==''&&event.featured!=='0'">{{event.featured}}</div>


					<div class="admin" ng-if="editMode">
<!--
						<a ng-click="editItem('edit', null, event.id)" href="#">edit show</a>
-->
						<a ng-click="editItem('delete', null, event.id)" href="#">delete show</a>
<!--
						<span class="editError {{event.id}}">Parsed shows cannot be edited.</span>
-->

						<div class="checkbox">
							<input type="checkbox" ng-if="event.featured==0||event.featured==''" ng-click="event.isChecked = !event.isChecked"/>
							<input type="checkbox" ng-if="event.featured!==''" ng-checked="event.featured" disabled/>
							<label>staff pick</label>
						</div>

						<div class="staff-notes" ng-if="event.isChecked || event.featured!==''">
							<textarea ng-model="event.featured" placeholder="Staff notes go here - ONLY FILL THIS OUT IF YOU ARE FEATURING A SHOW."></textarea>
						</div>

					</div>
						<a href="#" ng-if="event.isChecked" ng-click="editItem('staffPick', event.featured, event.id)"><span class="save"> 💾 save & publish</span></a>

				</span>

				<!-- tickets, if applicable -->
				<div>
					<a href="{{event.ticket_uri}}" target="_blank" ng-click="sendToGoogle(event.city, event.title, event.venue, event.ticket_uri)">
						<div class="show-tickets" ng-if="event.ticket_uri">🎫&nbsp;&nbsp;get tickets</div>
					</a>
				</div>
		</div>


			<!-- show page -->
			<div class="expand-contain" ng-hide="event.fb_event">
				<!-- disabling images for now
				<div class="show-img">
					<img src="{{event.poster}}">
				</div>
			-->

				<!-- description -->
				<div class="show-description" ng-bind-html="event.description"></div>
				<!--
				<div class="expand-close" ng-click="collapse($event)">
					<a href="#">&#9650; CLOSE &#9650;</a>
				</div>
			-->
			</div>
		</div>
	</div>

	<!-- end show -->
	<div class="pagination-container">
		<dir-pagination-controls
				max-size="7"
				direction-links="true"
				boundary-links="true" >
		</dir-pagination-controls>
	</div>

	<span class="pid" ng-click="checkPid($event)" ng-mouseover="showPid = true" ng-mouseleave="showPid = false" style="color:grey; font-size: smaller; padding:5px; clear: both; text-align:center; display: block;"> &pi; <span ng-if="showPid">{{performance}} {{ip_address}}</span></span>

</div>
