<div class="breadcrumb">
	<div class="breadcrumb-nav">
		<a href="#!">showhaus</a> > post a show</div>
</div>

<form ng-model="form" class="content page" novalidate ng-submit="postEvent()" name="form">
	<h2>POST A SHOW</h2>

	<!-- rules and guidelines -->
	<div class="postshow-wrap rules">
		<p>Hey there, thanks for posting a show on Showhaus. Before you post there are a few things you should know.</p>
	</div>

	<!-- enter url -->
	<div class="postshow-heading">SHOW URL (optional)</div>
	<div class="postshow-wrap">
		<input placeholder="eg. https://www.facebook.com/events/462122660631611/" type="text" class="full url" ng-change="fbEvent()" ng-click="fbLogin()" ng-model="facebookEvent" name="external_event" ></input>
		<div class="postshow-helptext">
			<strong>Enter the Facebook URL of your show, if applicable.</strong>
			<br>Your listing will redirect to the URL entered above.
		</div>
	</div>

	<!--░░░░░░░░░░░░ show details ░░░░░░░░░░░░-->
	<div class="postshow-heading">SHOW DETAILS</div>
	<div class="postshow-wrap">

		<!-- enter city -->
		<div class="postshow-city">
			<select placeholder="placeholder" class="selectize-input items not-full disabled locked demo-default venue-select" name="city" ng-model="citySelect" required
					data-placeholder="SELECT CITY" ng-change="resetVenues();" value="">
				<option>Baltimore</option>
				<option>NYC</option>
				<!--<option>DC</option>-->
			</select>
			<div class="postshow-helptext">
				The city where your show is happening.
			</div>
		</div>

		<!-- enter show title -->
		<div class="postshow-title">
			<input placeholder="title of show" type="text" class="full" ng-model="title"></input>
			<div class="postshow-helptext">
				The overall title of your show, including headliners and supporting acts.
			</div>
		</div>
		<!-- select venue -->
		<div class="postshow-venue">
			<select placeholder="SELECT VENUE" id="select-beast" class="demo-default venue-select" name="venue" ng-model="venue" required
					data-placeholder="SELECT VENUE"  ng-disabled="citySelect=='all'">
				<option ng-repeat="place in venues | filter:citySelect" ng-show="citySelect">{{place[1]}}</option>
				<optgroup label="Can't find your venue?" ng-if="citySelect!=''"">
				<option name="newvenue" value="newvenue">Add a venue</option>
				</optgroup>
			</select>

			<div class="postshow-helptext">
				If you can't find your venue, select <strong>Add Venue</strong>
				<br> If you don't want to give out an address, select <strong>Unlisted</strong>
			</div>

			<div class="addvenue" ng-show="venue=='newvenue'">
				<h4> ADD VENUE </h4>
				<input placeholder="venue name" type="text" class="third" maxlength="25" name="newvenue" ng-model="newvenuename" ng-required="venue==newvenue"></input><p>

				<input placeholder="address (optional)" type="text" class="third" name="venue_address" maxlength="75" ng-model="newvenueaddress"></input>
			</div>

		</div>

		<!-- enter date & price -->
		<div class="postshow-dateprice">
			<input class="date" type="text" name="date" placeholder="date" readonly required type="text" ng-model="date" class="date"></input>
			<input class="time" type="text" name="time" placeholder="time" readonly type="text" ng-model="time" class="time"></input>
			<input placeholder="price" name="price" required ng-model="price" numbers-only="numbers-only" type="text" class="mini price"></input>
			<div class="postshow-helptext">
				For free shows, enter <strong>$0</strong> as the price.
			</div>
			<div class="postshow-helptext">
				please enter the items above
			</div>
		</div>
	</div>


	<div class="postshow-heading" ng-if="!facebookEvent">EVENT DESCRIPTION</div>
	<div class="postshow-wrap" ng-if="!facebookEvent">
		<!-- description -->
		<div class="postshow-description">
			<div class="postshow-helptext">
				The description below will appear on your post.
			</div>
			<textarea id="editor" ck-editor class="ck-editor" name="description" data-ng-model="description" type="text"></textarea>
		</div>
	</div>

	<div class="postshow-heading" ng-if="!facebookEvent">EVENT ART</div>
	<div class="postshow-wrap" ng-if="!facebookEvent">
		<!-- enter art -->
		<div class="postshow-eventart">
			<div id="imgDelete" alt="Remove Poster" ng-if="poster" ng-click="imgDelete()">x</div>
			<img id="imgpreview" alt="Image Preview" ng-if="poster" src="{{poster}}" style="max-width:500px;"/>
			<input fileread="poster" type="file" name="image" accept="image/x-png, image/gif, image/jpeg" ng-model="poster" onchange="angular.element(this).scope().fileCheck()"/>
			<!--<input type="text" style="display: none" ng-model="fbImage" value="{{fbImage}}" ng-if="fbImage"/>-->
		</div>
	</div>

	<div class="postshow-heading">CONFIRM & PUBLISH</div>
	<div class="postshow-wrap">
		<!-- email -->
		<div class="postshow-email">
			<input type="text" placeholder="eg. bigbutts@hotmail.biz" required class="full" ng-model="email"></input>
			<div class="postshow-helptext">
				<strong>Enter your email</strong> to reiceve a receipt of your post, along with a link to edit/delete your listing. This field is optional.
			</div>
			<div class="postshow-helptext">
				a valid email is needed
			</div>
		</div>

		<!-- submit -->
		<div class="postshow-submit">
			<button class="postshow_button" type="submit">SUBMIT SHOW</button>
		</div>
	</div>
</form>