<div class="breadcrumb">
	<div class="tagline">
		<span class="tagline-logo"></span>
		<span class="tagline-text"><a href="#!">showhaus</a></span>
	</div>
	<div class="breadcrumb-nav home">
		<a href="#!about">about</a>
		<!-- :: <a href="#!api">api</a> -->
		<a href="#!feeds">add a feed</a>
		<a href="#!post"><strong>post a show</strong></a>
	</div>
</div>

<form ng-model="form" class="content page" novalidate ng-submit="postEvent()" name="form">
	<h2>POST A SHOW</h2>

	<!-- enter url -->
	<div class="postshow-heading url">Show URL</div>
	<div class="postshow-wrap">
		<!-- to add: if an input has "facebook" in the name, update the class to display a facebook icon instead of a link -->
		<input placeholder="eg. https://www.facebook.com/events/462122660631611/" type="text" class="full url" ng-change="fbEvent()" ng-click="fbLogin()" ng-model="facebookEvent" name="external_event" ></input>
		<div class="postshow-helptext">
			Use Facebook events for easier posting. Your listing will redirect to the URL entered above.
		</div>
	</div>

	<!--░░░░░░░░░░░░ show details ░░░░░░░░░░░░-->
	<div class="postshow-heading">Show Details</div>
	<div class="postshow-wrap">

		<!-- enter city -->
		<div class="postshow-city">

			<div class="filter-contain">
				<label class="postshow-label"> Select City </label>
				<select class="selectize-input items not-full disabled locked demo-default venue-select" name="city" ng-model="citySelect" ng-required="true" ng-change="resetVenues();" value="">
				<option value="" disabled>-- view all cities --</option>
				<option value="Baltimore">Baltimore</option>
				<option value="New York">NYC</option>
				<!--<option>DC</option>-->
				</select>
			</div>
			<div class="postshow-helptext">
				The city where your show is happening.
			</div>
		</div>

		<!-- enter show title -->
		<div class="postshow-title">
			<label class="postshow-label"> Title of Show </label>
			<input ng-required="true" type="text" class="full" ng-model="title"></input>
			<div class="postshow-helptext">
				List the performers starting with the headliner.
			</div>
		</div>
		<!-- select venue -->
		<div class="postshow-venue">
			<label class="postshow-label">Select Venue</label>
			<div class="filter-contain">
				<select placeholder="SELECT VENUE" id="select-beast" class="demo-default venue-select" name="venue" ng-model="venue" ng-required="true"
						data-placeholder="SELECT VENUE"  ng-disabled="citySelect==''">
					<optgroup label="Can't find your venue?" ng-if="citySelect!=''">
						<option name="newvenue" value="newvenue">Add a venue</option>
					<option value="" disabled selected>-- select a venue --</option>
					<option ng-repeat="place in venues | filter:citySelect |orderBy: 'venue'" ng-show="citySelect">{{place["venue"]}}</option>
					</optgroup>
				</select>
			</div>

			<div class="postshow-helptext">
				If you can't find your venue, select <strong>Add Venue</strong>
<!--
				<br> If you don't want to give out an address, select <strong>Unlisted</strong>
-->
			</div>

			<div class="addvenue" ng-show="venue=='newvenue'">
				<label class="postshow-label"> Add Venue <label>
				<input placeholder="venue name" type="text" class="third" maxlength="25" name="newvenue" ng-model="newvenuename" ng-required="venue==newvenue"></input><p>

				<input placeholder="address (optional)" type="text" class="third" name="venue_address" maxlength="75" ng-model="newvenueaddress"></input>
			</div>

		</div>

		<!-- enter date & price -->
		<div class="postshow-dateprice">
			<label class="postshow-label">Date, Time, and Price</label>
			<input class="date" type="text" name="date" placeholder="date" required="true" readonly ng-model="date"></input>
			<input class="time" type="text" name="time" placeholder="time" required="true"readonly ng-model="time"></input>
			<input placeholder="price" name="price" ng-model="price" ng-required="true" numbers-only="numbers-only" type="text" class="mini price"></input>
			<div class="postshow-helptext">
				For free shows, enter <strong>$0</strong> as the price.
			</div>

		</div>
	</div>


	<div class="postshow-heading" ng-if="!facebookEvent">Event Description</div>
	<div class="postshow-wrap" ng-if="!facebookEvent">
		<!-- description -->
		<div class="postshow-description">
			<textarea ng-model="$parent.description" name="description" type="text" style="min-height:100px;"></textarea>
			<div class="postshow-helptext">
				Enter any additional information about your show. This description will appear on your post.
			</div>
		</div>
	</div>

<!-- temporarily disabled
	<div class="postshow-heading" ng-if="!facebookEvent">EVENT ART</div>
	<div class="postshow-wrap" ng-if="!facebookEvent"> -->
		<!-- enter art -->
		<!--
		<div class="postshow-eventart">
			<div id="imgDelete" alt="Remove Poster" ng-if="poster" ng-click="imgDelete()">x</div>
			<img id="imgpreview" alt="Image Preview" ng-if="poster" src="{{poster}}" style="max-width:500px;"/>
			<input fileread="poster" type="file" name="image" accept="image/x-png, image/gif, image/jpeg" ng-model="poster" onchange="angular.element(this).scope().fileCheck()"/>
			<!--<input type="text" style="display: none" ng-model="fbImage" value="{{fbImage}}" ng-if="fbImage"/>
		</div>
	</div>
-->

	<div class="postshow-heading">Confirm & Publish</div>
	<div class="postshow-wrap">
		<!-- email -->
		<div class="postshow-email">
			<label class="postshow-label">Enter Email</label>
			<input type="text" placeholder="eg. bigbutts@hotmail.biz" required class="full" ng-model="email"></input>
			<div class="postshow-helptext">
				You'll recieve a receipt of your post, along with a link to edit/delete your listing.
				<br>This field is optional.
			</div>
			<!--
			<div class="postshow-helptext error">
				a valid email is needed
			</div>
			-->
			<!-- submit -->
			<div class="postshow-submit">
				<button type="submit">🚀 Submit Show</button>
			</div>
		</div>
	</div>
</form>
