<div id="fb-root"></div>
<div>
  <div id="showpage_wrap">
    <div class="title"> {{event.title}} </div>
    <div class="subtitle" ng-if="event.subtitle"> {{event.subtitle}} </div>
    <div class="info">
      <div class="info_date">
        <div class="header">date/time</div>
        <div class="response">{{event.date}}</div>
        <div class="subresponse"> {{event.time}} </div>
      </div>
      <div class="info_venue">
        <div class="header">venue</div>
        <div class="response">{{event.venue}}</div>
        <div class="subresponse" ng-if="event.address"><a href="#">{{event.address}}</a></div>
      </div>
      <div class="info_price">
        <div class="header">price</div>
        <div class="response" ng-if="event.price>0">${{event.price}}</div>
        <div class="infofree" ng-if="event.price==0">free</div>
         <div class="subresponse">[ <a href="#">GET TICKETS</a> ]</div>
      </div>
    </div>
    <div class="eventart">
      <img ng-src="{{event.poster}}">
    </div>
    <div class="showpagedescription" ng-model="description" ng-bind-html="event.description">
    </div>
  </div>
   <!--<div class="source">source: <a href="#">https://www.facebook.com/events/667108650072420/?ref_dashboard_filter=upcoming</a></div>-->
</div>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
