
/* ░░░░░░░░░░░░ typography ░░░░░░░░░░░░ */

@font-face {
  font-family: 'Proxima Nova';
src: url("/_fonts/ProximaNova-Light.eot") format("embedded-opentype"), url("/_fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/_fonts/ProximaNova-Regular.eot") format("embedded-opentype"), url("/_fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/_fonts/ProximaNova-Semibold.eot") format("embedded-opentype"), url("/_fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 500; }

h1 {font-size: 2em;}
h2 {font-size: 1.7em; text-align: center; font-weight: 500;}
h3 {font-size: 1.2em; margin: 0 0 10px 0;}
h4 {font-size: 1.0em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.8em;}

p {font-size: 15px/1.5em;}

strong {font-weight:500;}


/* ░░░░░░░░░░░░ links ░░░░░░░░░░░░ */

a:hover {cursor: pointer;}
a:visited {color: black;}


/* ░░░░░░░░░░░░ standard page ░░░░░░░░░░░░ */

body {
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: .01em;
}

.breadcrumb {
padding: 10px 15px;
color: #929292;
max-width: 100%;
margin: 0 auto;
background-color: rgba(179, 179, 179, 0.07);
  & a {text-decoration: none; color: #000;}
  & a:hover {color: gray; border-bottom: 1px dotted gray;}

}

.breadcrumb-nav {
text-align: left;
max-width: 1200px;
margin: 0 auto;
color: #1b1b1b;
display:inline-block;
  &.home {text-align: right; max-width: 100%; padding-right: 13px; display: block;}
  &.home a{margin: 0 5px;}

  /* post a show */
  strong:hover {
    background-color:yellow;
    padding: 3px 5px;
    border-radius: 3px;
    text-decoration: none;
    margin: 0 -5px 0 -5px;
    color: black;
  }

}

/* ░░░░░░░░░░░░ misc formatting ░░░░░░░░░░░░ */

.note {
  border-radius: 2px;
  border: 1px solid lightgray;;
  background-color: #FFFC9E;
  color: #000;
  max-width:600px;
  margin: 13px auto;
  text-align: left;
  padding: 0 10px;
}

.divider {
  height: 1px;
  background-color: #000;
  opacity: 0.25;
}

img.full-width {width: 100%;}

/* ░░░░░░░░░░░░ ui elements ░░░░░░░░░░░░ */

.button {
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  width: 105px;
  float: left;
  border-radius: 3px;
  background-color: rgb(51, 142, 174);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 15px 0 0 0;
  text-transform: none;
  color: #fff;
  line-height: normal;

  /* button states */
  a {
    text-decoration: none;
    a:hover {background-color: rgba(51, 142, 174, .7); cursor: pointer; text-decoration: none; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
    a:active {border:none;}
    a:visited {text-decoration: none;}
  }
}
