/* ░░░░░░░░░░░░ main nav ░░░░░░░░░░░░ */

.nav {
    height: 30px;
    max-width: 300px;
    text-align: center;
    padding: 5px 0 20px 0;
    margin: 0 auto;

    /* page links */

    a, a:visited {
        margin: 0 5px;
        text-decoration: none;
        color:gray
    }

    a:hover {
        margin: 0 5px;
        border-bottom: 1px dotted;
        color:gray
    }

    /* post show link */
    a.postshow {
        color: red;
        padding:3px 4px;
    }

    a.postshow:hover {
        color: white;
        background-color: red;
        border-radius: 5px;
        border-bottom: none;
    }
}

/* ░░░░░░░░░░░░ mobile nav ░░░░░░░░░░░░ */

@media (max-width:520px) {

  .nav {padding: 5px 0 0 0;}

}



/* ░░░░░░░░░░░░ hero ░░░░░░░░░░░░ */

.hero-contain {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}

.showhaus {
    text-align: center;
    width: 300px;
    font-size: 25px;
    font-weight: 700;
    margin: 30px auto 0 auto;

    span {margin: 0 30px 0 0;}

}

/*  mobile hero */

@media (max-width:520px) {

  .hero-contain {padding: 5px 0 0 0;}

}

/* filter bar */

.filter {
    max-width: 510px;
    background-color: #eee;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
    height: 25px;

    .filter-contain {
        border-right: 1px solid #ddd;
        display: inline-block;
        padding: 0 10px 0 0;
    }

    .filter > * {
        vertical-align: bottom;
        margin-top: 5px;
    }

    .filter > input, .checkbox-text{
        vertical-align: baseline;
    }

    & .checkbox-text {
        font-size: 13px;
        display: inline-block;
        padding: 0 15px 5px 0;
    }

    .filter .checkbox-text:hover {
        cursor:pointer;
        text-decoration: underline 1px dotted;
    }

    .filter-drop {
        margin-top: 8px;
    }

    /* filter styles */
    .city-filter {width: 100px;}
    .venue-filter {width: 210px; padding: 0 10px;}

    /* chosen override */

    .chosen-container {
      width: 100% !important;

      .chosen-single {background: white !important;}

    }

    /* checkbox */
    .checkbox {display:inline; margin: 0 0 0 5px;}
    input[type="checkbox"] {display: inline; width: 20px !important;}

}


/* ░░░░░░░░░░░░ mobile filter bar ░░░░░░░░░░░░ */

@media (max-width:520px) {

  .filter {
      margin: 10px 20px 0 20px;
      background-color: #eee;
      border: none;
      height: auto;

    .filter-contain {
      display: block;
      margin: 15px auto;
      border: none;
    }

    .checkbox {
      display: block;
      margin: 10px;
      border-top: 1px solid #ddd;
      padding: 15px 0 0 0;
    }

    /* filter styles */
    .city-filter {width: 260px; padding: 0 10px;}
    .venue-filter {width: 260px;}

  }

}

/* ░░░░░░░░░░░░ content contain ░░░░░░░░░░░ */

.content {
    padding: 10px 20px 0 20px;
    margin: 0 auto 0 auto;
    max-width: 850px;

    /* basic page style overrides */
    &.page {
        max-width: 650px !important;
        margin: 40px auto !important;
    }

}

.contain {
max-width: 600px;
margin: 0 auto;
}

/* ░░░░░░░░░░░░ mobile content ░░░░░░░░░░░░ */

@media (max-width:520px) {

  .content {margin: 10px 0 0 0;}

}

/* ░░░░░░░░░░░░ show ░░░░░░░░░░░░ */

.show-contain {
    border-bottom: 1px solid rgba(179, 179, 179, 0.31);
    min-height: 100px;
    max-height: 200px;
    padding: 5px 0 0 0;
    margin: 0 auto;
    display: flex;
    width: 100%;

    /* content container */
    .show-detail-contain {
        padding: 10px 10px 20px 10px;
        display: block;
        width: 100%;
    }

    /* if a show is happening today */
    &.today {
        background: rgba(248, 177, 177, 0.18) !important;
    }

    /* if a show is expanded */
    #expand {
        background-color: #D8D8D8;
    }

    /* -------- SHOW CONTENT -------- */

    /* 1. time and date */
    .show-date {
        width: 100px;
        padding: 0 20px 0 0;
        float: left;
        display: inline-block;
        font-size: 13px;

        /* show details (title, outbound icon, price) */
        .day {font-weight: 400;}
        .time {color: gray;}

    }

    /* 2. show venue */
    .show-venue {
        width: 145px;
        padding: 0 20px 0 0;
        vertical-align: top;
        display: inline-block;
        font-size: 13px;

        & .venue {font-weight: 700;}
        & .address {color: gray;}

        .unlisted {opacity: .4;}

        /* links */
        & a:link {text-decoration:none;color: gray;}
        & a:hover {border-bottom: 1px dotted gray; color: gray;}
        & a:visited {color: gray; text-decoration: none;}
    }

    /* 3. show title */
    .show-title {
        max-width: 540px;
        position: relative;
        display: inline-block;

        & .title {
            width: 100%;
            position: relative;
        }

        .show-title #expand {max-width: 350px;}

        /* links */
        & a:link {text-decoration:none; color: black;}
        & a:hover {border-bottom: 2px solid;}
        & a:visited {color: black;}

    }

}

.show-price {
    padding: 1px 3px;
    border-radius: 3px;
    color: white;
    background-color: green;
    font-size: 10px;
    display: inline-block;
    margin: 2px 5px;
    vertical-align: middle;
}

.show-tickets{
    background-color: rgba(0, 0, 0, 0.06);
    color: 000;
    margin: 15px -5px 0 0;
    text-transform: uppercase;
    font-size: .8em;
    padding: 5px 10px;
    display: block;
    width: 70px;
    float: left;

    /* show tickets link */
    a {color:black; text-decoration: none;}
    & a:hover {background-color: rgba(0, 0, 0, 0.1); cursor: pointer; text-decoration: none;}
    & a:visited {text-decoration: none;}

    .show-tickets:hover {background-color: rgba(0, 0, 0, 0.1); cursor: pointer; text-decoration: none;}
}



/* ░░░░░░░░░░░░ expanded show ░░░░░░░░░░░░ */

.show-detail-contain.expand {
margin: -20px 0 0 0;
background: url(/images/addvenuebg.png);
padding-top: 20px;
}

.expand-contain {
margin:30px 0 10px 0;
display: none;
}

.show-img {
max-width: 700px;
margin:20px auto 0 auto;
}

.show-img img {
width: 100%;
text-align: center;
display: inline-block;
}


.show-description {
width:500px;
margin: 30px auto 0 auto;
}

.expand-close {
text-align: center;
padding:10px;
background: url(addvenuebg.png);
cursor:pointer;
}

.expand-close:hover {
opacity: .8;
}

.expand-close a {
font-size: 12px;
color:#222;
text-decoration: none;
}

/* ░░░░░░░░░░░░ mobile show ░░░░░░░░░░░░ */

@media (max-width:520px) {

  .show-contain .show-detail-contain {
    padding: 10px 10px 25px 10px;
    display: block;

    /* show title */
    .show-title {
      width: 100%;
      padding: 15px 0 0 0;
    }

    /* venue */
    .show-venue {
      display: inline-block;
      width: 60%;

      & .venue {font-size: 11px;}
      & .address {font-size: 11px;}
    }


    /* date/time */
    .show-date {
      display: inline-block;
      width: 30%;

      & .day {font-size: 11px;}
      & .time {font-size: 11px; color: gray;}
    }
    .show-tickets {
      margin: 15px 0 0 0;
      font-size: .8em;
      padding: 5px 10px;
      float: left;
      display: block;
    }
  }
}

/* ░░░░░░░░░░░░ index pagination ░░░░░░░░░░░░ */

.pagination-alt {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;

  .last {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: right;
  }

  .total-pages {
    display: inline-block;
    width: 50%;
    text-align: center;
  }

  .next {
    display: inline-block;
    width: 25%;
    float: right;
  }


}

/* ░░░░░░░░░░░░ load state ░░░░░░░░░░░░ */

.loading span {
display: inline-block;
vertical-align: middle;
width: .6em;
height: .6em;
margin: .2em;
background: #007DB6;
border-radius: .6em;
-webkit-animation: loading 1s infinite alternate;

  &:nth-of-type(2) {
    background: #008FB2;
    -webkit-animation-delay: 0.2s;
  }

  &:nth-of-type(3) {
    background: #009B9E;
    -webkit-animation-delay: 0.4s;
  }

  &:nth-of-type(4) {
    background: #00A77D;
    -webkit-animation-delay: 0.6s;
  }

  &:nth-of-type(5) {
    background: #00B247;
    -webkit-animation-delay: 0.8s;
  }

  &:nth-of-type(6) {
    background: #5AB027;
    -webkit-animation-delay: 1.0s;
  }

  &:nth-of-type(7) {
    background: #A0B61E;
    -webkit-animation-delay: 1.2s;
  }
  @-webkit-keyframes loading {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

}
