/* ░░░░░░░░░░░░ index mobile ░░░░░░░░░░░░ */

/* header */

.mobile-filter {
    padding: 5px;
    color: #bbb;
    font-size: 13px;
    margin: 15px auto 20px auto;
    width: 150px;

    /* shift label left */
    & > label {margin: 10px 0 0 -30px;}
}




/* show */
.mobile-date {
    background-color: gray;
    color: white;
    text-align: center;
    font-size:10px;
    padding: 5px;
    margin: 15px 0 0 0;
}


.mobile-show-contain {
    padding: 20px 15px;
    border-bottom: 1px solid lightgray;
    font-size: 18px;

    /* show content */
    .mobile-show-title {text-align: left;}
    .mobile-show-venue {padding: 10px 0 0 0; font-size: 14px;}
    .mobile-show-address {font-size: 12px;}
    .mobile-show-tickets {float:right; font-size: 12px; margin-top: 8px; color: #ccc;}
    .mobile-show-details {text-align: left;}

}




.mobile-nav {margin-top: 20px;}
.mobile-nav a:link {color:#aaa; padding: 0 5px}