/* ░░░░░░░░░░░░ post a show ░░░░░░░░░░░░ */

/* hero */

.postshow-hero-contain {
  height: 50px;
  text-align: center;
}

.postshow-hero-contain h1 {color:gray;}


/* input styles */

textarea:focus, input:focus{
  outline: 0
}

input {
    display:inline-block;
    background-color:#fff;
    box-sizing : border-box;
    width: 90% !important;

    &[type="text"] {
        padding: 12px;
        border: 2px solid rgba(0,0,0,.3);
        border-radius: 3px;
        display: block;
    }

    &[type="checkbox"] {
        display: inline;
    }

    [type="text"]:hover {
    border: 2px solid rgba(0,0,0,.4);
    }

    &[type="text"]:focus,
    &[type="text"].focus {
      border: solid 2px rgba(0,0,0,.5);
      background-color: #fff;
      -webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.26);
      -moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.26);
      box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.26);
    }

    /* input size */
    &.full {max-width:420px;}
    &.third {max-width: 280px;}
    &.half {width: 40% !important; max-width:200px;}
    &.date {width: 30% !important; max-width:100px; margin-right:20px; display:inline-block;}
    &.time {width: 25% !important; max-width:100px; display:inline-block;}
    &.mini {width: 20% !important; max-width: 80px; display:inline-block;}


    /* input styles */
    &.url {
    background: url(images/inputbg-1.png) no-repeat scroll 10px 12px;
    background-size: 15px 15px;
    padding-left:30px;
    background-color: white;
    margin: 10px 0 0 0;
    }

    &.success,
    &.success:focus,
    &.success:hover {
    border: 2px solid #4BA93F;
    }

    &.date {
    background: url(images/inputbg-2.png) no-repeat scroll 10px 12px;
    background-size: 15px 15px;
    padding-left:30px;
    }

    &.price {
    background: url(images/inputbg-3.png) no-repeat scroll 10px 12px;
    background-size: 15px 15px;
    padding-left:30px;
    color: #4BA93F;
    }

    /* error input styles */
    &.error,
    &.error:focus,
    &.error:hover {
    border: 2px solid #DC0000;
    }
}

/*placeholders & help text */

.postshow-label {
  display:block;
  margin: 15px 0 10px 0;
}

.postshow-helptext {
  color: rgba(0,0,0,.6);
  font-size: 14px;
  padding:15px 0 10px 0;

  /* error helptext */
  &.error {
  color: #DC0000;
  padding:15px 0 0 0;
  font-weight: 500;
  }

  /* success helptext */
  &.success {
  color: #4BA93F;
  padding:15px 0 0 0;
  font-weight: 500;
  }

}

::-webkit-input-placeholder {
color: #B9B9B9;
}

:-moz-placeholder { /* Firefox 18- */
color: #B9B9B9;
}

::-moz-placeholder {  /* Firefox 19+ */
color: #B9B9B9;
}

:-ms-input-placeholder {
color: #B9B9B9;
}


/* input containers */

.postshow-wrap {
  select {width: 100%;}
  .filter-contain {max-width: 170px;}
  .success {background-color: rgba(241, 250, 215, 0.42);}
  .fail {background-color: rgba(222, 13, 13, 0.19);}
}

.postshow-heading {
    color: rgba(0,0,0,.9);
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: left;
    border-top: 2px solid rgba(179, 179, 179, 0.2);
    font-size: 22px;
    font-weight: 300;
}

.postshow-wrap {
    max-width: 650px;
    width: 100%;
    margin: 0 auto 30px auto;
    background-color: #fff;
    border-top: none;
    padding: 2px;

    &.rules{
        border-radius: 2px;
        border-top: 1px solid lightgray;;
        background-color: #FFFC9E;
        color: #000;
        font-size: 12px;
        max-width:600px;
        min-width:500px;
        margin: 15px auto;
        text-align: left;
        padding: 0 10px;
    }

}

.postshow-url {
  min-height:75px;
  max-width: 650px;
  margin: 25px auto;
  padding: 25px 20px;
  border : 1px solid lightgray;
  border-radius: 4px;
  /* background-color: rgba(241, 250, 215, 0.42); */
}

.postshow-city {
  padding: 0 0 10px 0;
  width: 100%;
}

.postshow-title {
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.postshow-venue {
  min-height:75px;
  padding: 0 10px 0 0;
  max-width: 475px;
}

.postshow-dateprice {
  margin: 0 auto;
  padding: 5px 0 10px 0;
}

.postshow-description {
  margin: 0 auto;
  padding: 10px 0;
}

.postshow-eventart {
text-align: center;
  margin: 20px auto;
  min-height: 30px;
  padding: 150px 0;
  border: 5px dashed lightgray;
  color: gray;

  & input {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 38% !important;
    background-color: transparent !important;
  }
  &:hover {
    background-color: rgba(255, 255, 0, 0.15);
    cursor: pointer;
  }
}

.postshow-email {
  padding: 10px 0 30px 0;
}

.postshow-submit {
  margin-bottom: 30px;
}

/* special states */
.postshow-venue .addvenue {
  padding: 10px 20px 20px 20px;
  width: 350px;
  background-color: rgba(0,0,0,.05);
  border-radius: 3px;
}

textarea {
  width: 100%;
  max-width: 420px;
  height: 158px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 2px #aaa;
}

button {
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  width: 170px;
  float: left;
  border-radius: 3px;
  background-color: rgba(51, 142, 174, 1);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px 0 0 0;
  line-height: normal;
  &:hover {background-color: rgba(51, 142, 174, .9); cursor: pointer; text-decoration: none;}
  }

  /*feeds classes */
  .feeds {margin: 0 0 90px 0;}
